* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #743aab;
    padding: 16px 0;
    color: white;
    display: flex;
    border-bottom: 16px solid #560f99;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: rgb(224, 224, 214);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(29, 163, 29);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#btn-cancel {
    background-color: rgb(231, 32, 32);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 228px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: white;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}